/* back to top css start here */
.backToTop {
  background: #37475a;
  /* margin-bottom: 40px; */
}
.backToTop span {
  display: block;
  padding: 15px 0;
  text-align: center;
  font-size: 13px;
  line-height: 19px;
}
.backToTop span a {
  color: #fff;
}
/* back to top css ende here */
/* footer  css start here */
.foot {
  background-color: #232f3e;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #232f3e;
  color: #ddd;
  padding-top: 30px;
}
.footer h3 {
  font-size: 18px;
  margin: 6px 0 14px;
}
.footer > ul > li {
  list-style: none;
  margin: 0 0 10px;
  font-size: 0.75rem;
}
.footer > ul > li > a {
  text-decoration: none;
  color: #ddd;
}
.footer > ul > li > a:hover {
  text-decoration: underline;
}
.footer_logos_container {
  /* margin: 20px 0; */
  border-top: 1px solid #3a4553;
  margin-top: 40px;
}
.footer_logos_wrapper {
  display: flex;
  flex-wrap: wrap;
  /* width: 1000px; */
  /* margin: 20px auto; */
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}
.ftr_wrapper_right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 450px; */
  padding: 10px;
  font-size: 14px;
  /* margin: 0 10px; */
}
.footer__logo > img {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0;
}
.ftr_wrapper_right_brdr {
  border: 1px solid #848688;
  border-radius: 3px;
  padding: 6px 18px 6px 8px;
  font-size: 13px;
}
.ftr_wrapper_right_brdr:first-child {
  padding-right: 8px;
}
.ftr_wrapper_right_brdr:first-child,
.ftr_wrapper_right_brdr:nth-child(2),
.ftr_wrapper_right_brdr:nth-child(3) {
  margin-right: 8px;
}
.us img {
  width: 14px;
  height: 12px;
}
.footer__credit {
  display: flex;
  justify-content: center;
  color: #ddd;
  padding: 10px 0 30px;
}
.footer__credit a {
  text-decoration: none;
  color: #ddd;
  opacity: 0.8;
}
.footer__credit a:hover {
  text-decoration: underline;
  color: #ddd;
  opacity: 1;
}
@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .footer h3 {
    text-decoration: underline;
  }
}
