/* SECTION 3 */
.section-3 {
  background-color: white;
}
.section-3 .section-3-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.section-3 .section-3-container .product-detail-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card {
  display: inline-block;
  width: 200px !important;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.section-3
  .section-3-container
  .product-detail-cards
  .product-detail-card
  .product-detail-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card img {
  width: 100%;
  height: auto;
  max-width: 160px;
  max-height: 140px;
}
.section-3 .section-3-container .product-detail-cards .product-detail-card a {
  text-decoration: none;
  color: #007185;
  font-size: 14px;
}
.section-3
  .section-3-container
  .product-detail-cards
  .product-detail-card
  a:hover {
  color: #c45500;
}
.section-3
  .section-3-container
  .product-detail-cards
  .product-detail-card
  .product-deliver-by {
  color: #222;
  font-size: 10px;
}
