.checkout__title {
  width: 40%;
  background-color: #e3e6e6;
}
.checkout__title h4 {
  font-size: 17px;
  padding-left: 10px;
}
.checkout__title p {
  font-size: 14px;
  padding-left: 10px;
}
.checkout__title button {
  margin: 10px;
  background-color: #ffd814;
  width: 400px;
  border-radius: 5px;
}
