* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Content-collection {
  display: flex;
  justify-content: space-between;
}

.app {
  background-color: #e3e6e6;
}
.form {
  width: 300px;
  height: 350px;
  padding-top: 13px;
}
.form h4 {
  font-size: 22px;
  padding-left: 10px;
}
.login-form {
  background-color: #fff;
}
.form button {
  width: 200px;
  height: 30px;

  background-color: #ffd814;
  border-radius: 10px;
  border-color: #ffd814;
}
.form a {
  padding-left: 50px;
}
.form .login-btn {
  padding-left: 95px;
}
.form img {
  margin-top: 30px;
  width: 300px;
  height: 230px;
}
.contentSlide {
  margin: 10px;
  width: 100%;
  height: 300px;
  background-color: #fff;
}
.contentSlide h4 {
  padding-top: 10px;
  padding-left: 10px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
@media (max-width: 1291px) {
  .width-1255 {
    display: none;
  }
}
@media (max-width: 1334px) {
  .width-1334 {
    display: none;
  }
  .form {
    display: none;
  }
}
